body {
  background-image: url(../images/disneymain.jpg);
  background-size: cover;
}

.col-md-8 {
  background-color:rgba(255,255,255,0.6);
  text-align: center;
  padding: 30px 0px 50px 0px;
  margin-top: 80px;

}

.start {
  background-color: pink;
  opacity: 1;
  width: 200px;
  height: 40px;
  font-size: 20px;
}

p {
  font-size: 100px;
  font-family: 'Shadows Into Light', cursive;
}

.clearFix::after{
  content: "";
  display: block;
  clear: both;
}

.answerchoices {
  width: 200px;
  margin-left: 330px;
  margin-top: 20px;
  background-color: white;
  height: 50px;
  padding: 8px 0px 0px 0px;
  margin-bottom: 20px;
  border: 3px;
  border-style: dashed;
  text-align: center;
  border-color: pink;

}

#maincontainer {
  text-align: center;
}

.question {
  font-size: 40px;
}
